html, body, .container, #sketch {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
}

button:focus {
	outline:0;
}

#page-landing button {
  font-size: 30pt !important;
}

.button-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.button-group > * {
  width: 100%;
  margin: .3em 0;
}

.button-group2 {
  display: flex;
  flex-flow: row nowrap;
}

.button-group2 button {
  flex: auto;
}

.button-group2 button:not(:last-child) {
  margin-right: .3em;
}

.container {
  user-select: none;
}

.container button, .container input {
  outline: none;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#sketch {
  position: absolute;
  margin: 100px 0px;
  height: calc(100vh - 200px);
  width: 100%;
  overflow: hidden;
}

#topTitle {
  display: block;
  height: 200px;
  margin: 0 auto;
}

#description{
  padding:20px 0px;
}

.titleText {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5rem;
  font-size: 30px;
  font-weight: 600;
}

.buttonsWrapper{
  position:relative;
  height:100px;
  float:left;
  margin-right: 2em;
}

.elseText {
  position: absolute;
  top: 18px;
  padding: .5rem;
  font-size: 15px;
  font-weight: 200;
}

.microText {
  position: absolute;
  top: 18px;
  padding: .5rem;
  font-size: 15px;
  font-weight: 200;
}

.interactionText {
  position: absolute;
  top: 18px;
  padding: .5rem;
  font-size: 15px;
  font-weight: 200;
}

.controll {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.controll-elsebuttons {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  top: 45px;
  display: inline-block;      /* インラインブロック要素にする */
  padding: 5px;
}
.controll-elsebuttons button {
  width: 80px;
  height: 40px;
  text-align: center;
  border: 1px solid #000000;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 6px auto;
  border-radius: 4px;
  transition: .4s;
}

.controll-interactionbuttons {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  top: 45px;
  display: inline-block;      /* インラインブロック要素にする */
  padding: 5px;
}

.controll-interactionbuttons button {
  width: 70px;
  height: 40px;
  text-align: center;
  border: 1px solid #000000;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 6px auto;
  border-radius: 4px;
  transition: .4s;
}

button:hover {
  /* transform:scale(1.05); */
}

button:active {
  transform:scale(0.9);
}

.controll-buttons {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
}

.controll-buttons button {
  display: block;
  width: 60px;
  height: 60px;
  font-size: 40px;
  border: solid 1.5px #000;
  background: transparent;
  border-radius: 50%;
}

.controll-seekbars {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
  margin-top: 0px;
  align-items: center;
}

.controll-seekbars div {
  font-family: "Roboto Mono", monospace;
}

.seekbar {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    var(--bgcolor-left) calc(var(--progress) * 100%),
    var(--bgcolor-right) 0%
  );
  height: var(--thickness);
  width: 100%;
  max-width: 60%;
  margin: 0 10px;
  border-radius: calc(var(--thickness) / 2);

  /* シークバーの背景の長さを広げる */
  box-sizing: border-box;
  border-left: solid calc(var(--thickness) / 2) var(--bgcolor-left);
  border-right: solid calc(var(--thickness) / 2) var(--bgcolor-right);

  --thickness: 6px;
  --bgcolor-left: #666;
  --bgcolor-right: #ddd;

  --thumb-size: var(--thickness);
  --bgcolor-thumb: transparent;

  /* 後でスクリプトで設定する */
  --progress: 0;
}

.seekbar::after {
  /* シークバーの左右の境界線を丸くする */

  content: '';
  display: block;
  width: var(--thickness);
  height: var(--thickness);
  border-radius: 50%;
  background: var(--bgcolor-left);
  position: absolute;
  top: 0;
  left: calc(var(--progress) * 100% - var(--thickness) / 2);
  z-index: 0;
}

.seekbar:hover, .seekbar:active {
  --thumb-size: 14px;
  --bgcolor-left: #26f;
  --bgcolor-thumb: #222;
}

.seekbar:focus, .seekbar:active {
  outline: none;
}

.seekbar::-webkit-slider-thumb {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  border: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  position: relative;
  background-color: var(--bgcolor-thumb);
  border-radius: 50%;
  z-index: 1;
}

.seekbar::-webkit-slider-runnable-track {
  /*
  つまみの可動域がつまみのwidthやheightに影響されるため、ここで負のマージンを設定して可動域を広げる
  */

  margin: 0 calc(var(--thumb-size) * -0.5);
}

/* ダークモード */
body.color-dark {
  color: #ddd;
  background-color: #000;
}

body.color-dark .controll-buttons button {
  border-color: #ddd;
  color: #ddd;
}

body.color-dark .seekbar {
  --bgcolor-left: #ddd;
  --bgcolor-right: #666;
}

body.color-dark .seekbar:hover, body.color-dark .seekbar:active {
  --bgcolor-left: #26f;
  --bgcolor-thumb: #eee;
}


/* ページ */

.page {
  display: none;
}

.page.page-active {
  display: block;
}


/* ランディングページ用 */

#page-landing {
  height: 100%;
  text-align: center;
  color: #000;
  background-color:#EEE;
}

#page-landing h1 {
  margin: 0;
  padding: 1em;
}

#page-landing h2 {
  color: #000;
}

#page-landing p {
  color: #000;
}

#page-landing .btn-gradation {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #ff0099, #9933ff);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  transition: 0.5s;
  background-size: 200%;
  border: none;
}

#page-landing .btn-gradation2 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #2dbef4, #1dab52);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  transition: 0.5s;
  background-size: 200%;
  border: none;
}

#page-landing .btn-gradation:hover {
  background-position: right center;
}

#page-landing .btn-gradation:active {
  opacity: 0.6;
}
